body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin: 10px 0;
}

select, input[type="number"] {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.red {
    background-color: red;
}

.red:hover {
    background-color: darkred;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-group button {
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td button{
    margin:0;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e2e2e2;
}

.revert-btn, .complete-call-btn {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.revert-btn:hover, .complete-call-btn:hover {
    background-color: #d32f2f; /* Darker Red */
}

/* スマートフォン用のスタイル調整 */
@media (max-width: 768px) {
    h1 {
        font-size: 32px; /* より大きなフォントサイズ */
    }

    label {
        font-size: 26px; /* より大きなフォントサイズ */
    }

    select, input[type="number"] {
        font-size: 24px; /* より大きなフォントサイズ */
        padding: 14px; /* より大きなパディング */
        max-width: 100%;
    }

    button {
        font-size: 24px; /* より大きなフォントサイズ */
        padding: 14px 28px; /* より大きなパディング */
        margin: 14px;
    }

    th, td {
        padding: 18px; /* より大きなパディング */
        font-size: 20px; /* より大きなフォントサイズ */
    }

    li {
        padding: 24px; /* より大きなパディング */
        font-size: 20px; /* より大きなフォントサイズ */
    }
}