<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>進捗管理システム</title>
    <link rel="stylesheet" href="../static/style.css">
        <script>
        function loadMobileCSS() {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                var link = document.createElement("link");
                link.rel = "stylesheet";
                link.type = "text/css";
                link.href = "../static/mobile.css"; // モバイル用の追加CSSファイルを指定
                document.getElementsByTagName("head")[0].appendChild(link);
            }
        }

        document.addEventListener("DOMContentLoaded", loadMobileCSS);
    </script>
</head>
<body>
<header>
    <h1>進捗管理システム</h1>
</header>
<div class="container">
    <h1>進捗管理システム</h1>
    <p>班ごとの進捗を管理します。</p>
    </div>
    <footer>
    <p>&copy; 2024-2025 Kogakuin 情報学実験 鈴木 舜基 All Rights Reserved.</p>
    </footer>
</body>
</html>